* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */
h1 {
  padding-top: 5vh;
  text-align-last: center;
  color: aquamarine;
}

/* Body Styles */
body {
  background-color: #2b4de4;
}

/* Main Wrapper Styles */
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right; /* Should this be right or end? */
  padding-right: 3vw;
}

/* Container Styles */
.container {
  height: 70vh;
  display: flex;
  justify-content: start;
}

/* Card Styles */
.card {
  background-color: azure;
  width: 10vw;
  border-radius: 3%;
  overflow: scroll;
  margin: 0 0.75%;
  display: flex;
  align-items: flex-start;
  transition: ease-out 1s;
}

.card > .row {
  color: rgb(255, 153, 153);
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

/* Input Styles */
input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* Additional Styles */
body {
  background: #ffffff;
  margin: 0;
}

ul {
  position: absolute;
  bottom: 3%;
  left: 1%;
  transform: rotate(-29deg) skew(-30deg, 5deg);
}

.list-item {
  background: #515151;
  color: #5bbfd1;
  text-align: center;
  height: 2.5em;
  width: 4em;
  vertical-align: middle;
  line-height: 2.5em;
  border-bottom: 1px solid #c0c0c0;
  position: relative;
  display: block;
  text-decoration: none;
  transition: all .25s linear;
}

.list-item:hover {
  background: #ff6e42;
  color: #fffcfb;
  transform: translate(.9em, -.9em);
  transition: all .25s linear;
  box-shadow: -2em 2em 0 #cececed6;
}

.list-item:hover:before, 
.list-item:hover:after { 
  transition: all .25s linear; 
}

.list-item:hover:before {
  background: #b65234;
  width: 1em;
  top: .5em;
  left: -1em;
}

.list-item:hover:after {
  background: #b65234;
  width: 1em;
  bottom: -2.5em;
  left: 1em;
  height: 4em;
}

.list-item:before, 
.list-item:after {
  content: '';
  position: absolute;
  transition: all .25s linear;
  width: .5em;
}

.list-item:after {
  height: 4em;
  background: #232323;
  bottom: -2.25em;
  left: 1.5em;
  transform: rotate(90deg) skew(0, 45deg);
}

.list-item:before {
  height: 2.5em;
  background: #232323;
  top: .25em;
  left: -.5em;
  transform: skewY(-45deg);
}